@import url("https://fonts.googleapis.com/css?family=Lato|Yeseva+One&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

h1, h2, h3 {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal; }

h2 {
    font-size: 46px; }

h3 {
    font-size: 20px; }

h4 {
    font-size: 12px; }

p {
    font-size: 16px; }

body {
    font-family: "Lato";
    font-size: 16px;
    color: #4c4c4c;
    line-height: 180%; }

.box:not(.footer) {
    padding: 100px 0;
    min-height: 750px; }